#board {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
	position:relative;
	overflow-x:hidden;
	width: 75vh;
	height: 75vh;
}
#Right {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 75vh;
	background-color: #bbf;
}
@media all and (max-width: 90vh) {
	#board {
		width: 100vw;
		height: 100vw;
	}
	#Right {
		position: absolute;
		top: 100vw;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #bbf;
	}
}
body {
	margin:0;
	font-size: 1.5em;
	display: flex;
	flex-flow: row wrap;
}
td {
	padding:0;
}
#errors {
	color: #F00;
}
.rform {
	position:relative;
	margin: 1vh;
}
.eventbl {
	position:absolute;
	left:0; top:0; right:0; bottom:0;
	text-align:center;
	border-collapse: collapse;
	display:flex;
	flex-direction: column;
}
.boardRow {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
.pieceRow {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
.bcell {
	flex-grow: 1;
	overflow:hidden;
	background-color: #fff09e;
}
.pieceCell {
	flex-grow: 1;
	overflow:hidden;
	background-color: rgba(0,0,0,.00004);
	display:flex;
	position:relative;
}
.lbord {
	border-left:1px solid black;
}
.ubord {
	border-top:1px solid black;
}
.circle {
	flex-grow:1;
	position:absolute;
	border-radius: 50%;
	top:2px;
	bottom:2px;
	left:2px;
	right:2px;
	border: 1px solid black;
}
.b {
	background-color:#000;
}
.w {
	background-color:#FFF;
}
.optind {
	position:absolute;
	left:25%; right:25%; top:25%; bottom:25%;
	background-color:rgba(100, 200, 120, .5);
	border-radius: 10%;
}
